<% @products.each do |product| %>
      <a href="#" class="product-link">
  			<img src="http://www.fillmurray.com/80/80" alt="Placeholder Bill Murray" class="product-image">
        <div class="product-content__text">
					<h2 class="product-titles">Bill Murray</h2>
        	<p class="product-description">Bill Murray Bill Murray Bill Murray Bill Murray Bill Murray</p>
					<div class="product-buttons">
						<div class="upvote-button"> </div>
						<div class="comment-button">7</div>
						<div class="save-button">save</div>
						<div class="share-button"></div>
						<div class="product-tag">pokemon</div>
					</div>
				</div>
  		</a>
  		<%end%>